* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: brown;
}

.color {
    text-align: center;
    margin-top: 60px;
    color: black;
    font-size: 30px;
}

.text-black {
    color: white;
}

.card .button {
    border: none;
    padding: 10px 18px;
    color: white;
    background-color: black;
    border-radius: 7px;
    margin-left: 900px;
    margin-top: 20px;
}

.card .button1 {
    border: none;
    padding: 10px 18px;
    color: white;
    background-color: black;
    border-radius: 7px;
    margin-left: 900px;
    margin-top: 20px;
}

.card .button2 {
    border: none;
    padding: 10px 18px;
    color: white;
    background-color: black;
    border-radius: 7px;
    margin-left: 900px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.fa-heart {
    margin-left: 920px;
    margin-top: 20px;
    color: white;
    font-size: 30px;
}

.color-icon {
    color: red;
}

.color-none {
    display: none;
}

.bg-color {
    background-color: black;
}